* {
    font-family: 'Courier New', Courier, monospace;
    color: #124b90;
    text-align: center;
}

.gameTitle {
    font-family: 'Antic Didone', serif;
    color: #f7931e;
    font-size: 96px;
    text-shadow: 2px 4px 6px darkgrey;
}

#wordSpotlight {
    color: #f8931f;
}

#main,
p {
    font-size: 48px;
}

#blue {
    background-color: #007bff;
}

#green {
    background-color: #28a745;
}

#orange {
    background-color: #ffc107;
}

#red {
    background-color: #dc3545;
}



#blue,
#green,
#orange,
#red {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    width: 250px;
    height: 70px;
    cursor: pointer;
    padding-top: 5px;
    color: white;
}

#orange {
    margin-right: 30px;
}

#blue:hover,
#green:hover,
#orange:hover,
#red:hover {
    color: white;
    font-size: 42px !important;
}

#blue:active,
#green:active,
#orange:active,
#red:active {
    color: white;
    width: 250px;
    font-size: 36px !important;
}

#play {
    display: none;
}

#track {
    font-size: 36px;
}

#keyboard {
    width: 1188px;
    margin: 0 auto;
    font-size: 36px;
}

button {
    font-size: 48px !important;
    width: 80px;
    height: 70px;
    cursor: pointer;
    background-color: #81c049;
    border-radius: 0 !important;
}

button:hover {
    background-color: rgb(255, 193, 7) !important;
    font-size: 58px !important;
    border-radius: 0 !important;
    border-color: rgb(255, 193, 7) !important;
    padding: 0 0 20px 0 !important;
}

button:active {
    background-color: rgb(255, 193, 7) !important;
    width: 80px;
    font-size: 48px !important;
    border-radius: 0 !important;

}

#categoryName {
    text-align: center;
    width: 1188px;
    background-color: #cae4fd;
    margin: 0 auto;
}


#tryAgain {
    float: left;
    margin-right: 8px !important;
    margin-top: 20px;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    width: 250px;
    height: 70px;
    cursor: pointer;
    padding-top: 5px;
    color: white;
    background-color: #007bff;
}

#tryAgain:hover {
    float: left;
    color: white;
    margin-right: 8px !important;
    background-color: rgb(255, 193, 7);
    font-size: 42px;
}

#tryAgain:active {
    float: left;
    color: white;
    margin-right: 8px !important;
    background-color: rgb(255, 193, 7);
    width: 250px;
    font-size: 36px;
}


#backToMain {
    float: left;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    width: 250px;
    height: 70px;
    cursor: pointer;
    padding-top: 5px;
    color: white;
    background-color: #dc3545;
    margin: 0 auto;
    margin-top: 20px;
}

#backToMain:hover {
    float: left;
    color: white;
    background-color: rgb(255, 193, 7);
    font-size: 42px;
}

#backToMain:active {
    float: left;
    color: white;
    background-color: rgb(255, 193, 7);
    width: 250px;
    font-size: 36px;
}