 * {
     font-family: 'Courier New', Courier, monospace;
     color: #124b90;
 }

 .gameTitle {
     font-family: 'Antic Didone', serif;
     color: #f7931e;
     font-size: 96px;
     text-shadow: 2px 4px 6px darkgrey;
 }

 p {
     font-size: 48px;
 }