* {
    font-family: 'Courier New', Courier, monospace;
    color: #124b90;
    text-align: center;
}

.gameTitle {
    font-family: 'Antic Didone', serif;
    color: #f7931e;
    font-size: 46px;
    text-shadow: 2px 4px 6px darkgrey;
}

#main,
p {
    font-size: 24px;
}

#blue {
    background-color: #007bff;
}

#green {
    background-color: #28a745;
}

#orange {
    background-color: #f7931e;
}

#red {
    background-color: #dc3545;
}

#blue,
#green,
#orange,
#red {
    margin: 0 auto;
    margin-top: 10px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 130px;
    height: 50px;
    cursor: pointer;
    padding-top: 5px;
    color: white;
}

#blue:hover,
#green:hover,
#orange:hover,
#red:hover {
    color: white;
    font-size: 24px !important;
    background-color: rgb(255, 193, 7) !important;
}

#blue:active,
#green:active,
#orange:active,
#red:active {
    color: white;
    width: 130px;
    font-size: 20px !important;
    background-color: rgb(255, 193, 7) !important;
}

#play {
    display: none;
}

#track {
    font-size: 20px;
}

#result {
    color: #f8931f;
}

#keyboard {
    width: 490px;
    margin: 0 auto;
}

button {
    font-size: 18px !important;
    cursor: pointer;
    border-radius: 0 !important;
    height: 30px !important;
    width: 35px !important;
    margin: 2px 0 2px 0 !important;
    padding: 0 0 10px 0 !important;
}

button:hover {
    background-color: rgb(255, 193, 7) !important;
    font-size: 20px !important;
    border-radius: 0 !important;
    border-color: rgb(255, 193, 7) !important;
    padding: 0 0 10px 0 !important;
}

button:active {
    background-color: rgb(255, 193, 7) !important;
    width: 35px;
    font-size: 18px !important;
    border-radius: 0 !important;
    padding: 0 0 10px 0 !important;
}

#categoryName {
    text-align: center;
    width: 490px;
    background-color: #cae4fd;
    margin: 0 auto;
}


#tryAgain {
    margin: 0 auto;
    margin-top: 12px;
    margin-right: 16px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    width: 125px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: #007bff;
}

#tryAgain:hover {
    color: white;
    font-size: 20px !important;
    background-color: rgb(255, 193, 7);
}

#tryAgain:active {
    color: white;
    font-size: 16px !important;
    background-color: rgb(255, 193, 7);
}

#backToMain {
    float: left;
    margin: 0 auto;
    margin-top: 12px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    width: 125px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: #dc3545;
}

#backToMain:hover {
    float: left;
    color: white;
    background-color: rgb(255, 193, 7);
    font-size: 20px;
}

#backToMain:active {
    float: left;
    color: white;
    background-color: rgb(255, 193, 7);
    font-size: 16px;
}

@media (min-width:320px) and (max-width: 485px) {

    body {
        min-width: 320px;
    }

    .gameTitle {
        font-size: 36px;
    }

    #treePic {
        margin: 0 20px 5px 0;
        width: 225px;
        height: 225px;
    }

    p {
        font-size: 17px;
        font-variant: small-caps;
    }

    #categoryName {
        text-align: center;
        width: 320px;
        margin: 0 auto;
        font-size: 18px;
        font-variant: small-caps;
    }

    #track {
        font-size: 14px;
    }

    #keyboard {
        width: 310px;
    }

    button {
        font-size: 14px !important;
        height: 20px !important;
        width: 25px !important;
        margin: 1px 0 1px 0 !important;
        padding: 0 0 5px 0 !important;
    }

    button:hover {
        font-size: 16px !important;
        padding: 0 0 5px 0 !important;
    }

    button:active {
        width: 25px;
        font-size: 14px !important;
        padding: 0 0 5px 0 !important;
    }

    #tryAgain,
    #backToMain {
        font-size: 14px;
        line-height: 30px;
        width: 100px;
        height: 30px;
    }

    #tryAgain:hover,
    #backToMain:hover {
        font-size: 16px !important;
    }

    #tryAgain:active,
    #backToMain:active {
        font-size: 14px !important;
    }
}